Connected Services/SVCCAACR/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BUSINESS_PARTNER" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BUSINESS_PARTNER" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://190.171.26.103:8080/BPCAACR/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCG.LS.Service.DataContracts.Types" />
  <xs:complexType name="WebAuthentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebAuthentication" nillable="true" type="tns:WebAuthentication" />
  <xs:complexType name="ObtenerAgremiadoResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCG.LS.Service.DataContracts.Types" minOccurs="0" name="BusinessPartner" nillable="true" type="q1:BusinessPartner" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerAgremiadoResponse" nillable="true" type="tns:ObtenerAgremiadoResponse" />
  <xs:complexType name="GetLawyerResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCG.LS.Service.DataContracts.Types" minOccurs="0" name="BusinessPartners" nillable="true" type="q2:ArrayOfBusinessPartner" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLawyerResponse" nillable="true" type="tns:GetLawyerResponse" />
</xs:schema>